/* moet nog var namen aanpassen naar iets van main-font-iets */
:root{
    --grey: #666666;
    --thick:850;
    --thin:550;
    --blue:#c0d4ff;
}

@font-face{
    font-family:DarkerGrotesque;
    src: url(../assets/fonts/DarkerGrotesque-VariableFont_wght.ttf);
}

*{
    font-family:DarkerGrotesque;
}

h2{ 
    font-weight:var(--thick);
    text-transform: uppercase;
}

p{
    color:var(--grey);
    font-weight:var(--thin);
}

nav ul{
    display:flex;
    /* justify-content:space-around; */
    align-items:center;
    max-width:500px;
    list-style-type:none;
    max-height:20px;
}

.mainnav{
    font-size:1.5em;
    li{
        margin-right:2%;
        text-transform: uppercase;
    }
}

.carousel{
    display:flex;
    margin-left:5%;
    margin-bottom:2%;
    font-size:1.1em;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    }

    li{
        display:grid;
        grid-template-rows: 1fr 40px;
        margin-left:0%;
        align-content: center;
        justify-content: middle;
        max-height:60px;
        min-width:50px;
        
        h4, date{
            margin-left:25%;
            margin-bottom:10%;
        }
    }

article {
    border-radius: 0.875em;
    margin-bottom:0.5%;
    margin-left:10%;
    max-width: 33em;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: auto auto;
    min-height: calc(6em * var(--duration));

    header {
        grid-column: 2;
        margin-right:3%;

        h2, p {
            margin: 0;
            margin-top:0.30em;

            @media (max-width: 40em) {
                scale:0.95;
            }
        }

        @media (max-width: 40em) {
            p {
                font-size:0.95em;
            }
        }
    }

    img {
        background-image:url(mario.jpg);
        width: 50px;
        height: 50px;
        background: red;
        grid-column: 1;
        grid-row: 1;
        justify-self: center;
        margin-top:1.25em;
        border-radius:50%;
        @media (max-width: 40em) {
            width: 45px;
            height: 45px;
        }
    }

    footer {
        grid-column: 2;
        display: grid;
        grid-template-rows: 50px 50px;
        grid-template-columns: 1fr 100px;
        ul{
            list-style-type: none;
        }
        a{
            justify-self:right;
            text-decoration: none;
            margin-top:3em;
            margin-right:0.75em;
            grid-column-start:2;
        }
    }
}

li:hover, article:hover {
    background-color: var(--blue);
    
    p, footer{
        color:black;
        font-weight:bold;
        transition-duration: 400ms;
        transition-timing-function: ease-in;
        
        a{
            color:rgb(111, 82, 168);
        }
    }
}